.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .profile-box h2 {
    margin-bottom: 20px;
  }
  
  .logout-button {
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #d32f2f; 
  }